@charset "UTF-8";
/* 
    styles.css
	- Document: ES6-STARTER - Main Styles
	- Client:   N/A
    - Author:   Edward Bradley (@edbradleyweb)
*/

/* --------------------------------------------------------- */
/* BASIC SETUP */
/* --------------------------------------------------------- */

/* 
* page defaults 
*/

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;

  /* Include padding and border in an element's total 
  width and height */
  box-sizing: border-box;
}

/* --------------------------------------------------------- */
/*  */
/* --------------------------------------------------------- */

/* dummy class selector - test auto-prefixer */
.dummy {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

/* confirm that css works */
h1{
    color: darkgray;
}