@charset "UTF-8";
/* 
    styles.css
	- Document: ES6-STARTER - Main Styles
	- Client:   N/A
    - Author:   Edward Bradley (@edbradleyweb)
*/

body {
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(/img/ai-artificial-intelligence-blur-546819.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/img/ai-artificial-intelligence-blur-546819.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.hello {
  color: white;
}

/* shrink table */
.weatherTbl {
  font-size: 80%;
}

.weatherCard {
  padding-top: 5px;
  padding-bottom: 10px;
}

/* spin the loader icon  */
.loader {
  margin: 5rem auto;
  text-align: center;
}
.loader svg {
  height: 5.5rem;
  width: 5.5rem;
  fill: #007bff;
  transform-origin: 44% 50%;
  animation: rotate 1.5s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* set weather update button to fill horizontally on small displays */
@media all and (max-width: 576px) {
  .weatherUpdate__btn {
    width: 100%;
    display: block;
  }
}

/* Google Maps: Always set the map height explicitly to define the size of the div
* element that contains the map. */
.map {
  height: 300px;
  width: 100%;
}

/* Google map visibility */
.hide_map {
  visibility: hidden;
}
